<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 7.  다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="co.withyou.care.admin.last.mapper.AdminMapper">
    
    <select id="loginCheck" resultType="String">
        SELECT adminid AS adminId FROM admin
        WHERE adminid = #{adminId} AND adminpw = #{adminPw}
        
        
    </select> 
    
    <select id="viewAdmin" resultType="co.withyou.care.admin.vo.AdminVO">
    SELECT 
    adminid AS ID,
    adminpw AS PW,
    email AS Email
    FROM ADMIN
    WHERE admin_id = #{adminId} AND admin_pw = #{adminPw}
    </select>
 
</mapper>