<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.withyou.care.helper.Login.mapper.HelperMapper">

	<!-- 로그인 -->
	<select id="getSelect" parameterType="LoginHelperVO" resultType="LoginHelperVO">
		SELECT * FROM HELPER WHERE HELPEREMAIL = #{helperEmail}
	</select>

</mapper>